[defaults]
inventory={{ site_root | default("~/config") }}/{{ site_inventory_name | default("hosts") }}
roles_path={{ site_root | default("~/config") }}/roles:{{ site_root | default("~") }}/site-builder/roles
forks=15
pipelining = True
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=20s
